@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Article>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="page">
	<h2>Article Free Page</h2>
	<h4>Welcome to free page</h4>
</div>

<style>
	.header {
		background-color: lightblue;
	}

	.page {
		padding-block: 200px 300px;
		padding-inline: 60px;
	}

	h2 {
		text-align: center;
	}
</style>