@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.LoginPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;
@{
	Layout = "master.cshtml";
	var isLoggedIn = _memberManager.IsLoggedIn();
	var loggedInMember = await _memberManager.GetCurrentMemberAsync();
}
@await Html.PartialAsync("SectionHeader")


<section class="section">
	@if (isLoggedIn && loggedInMember != null)
	{
		<h3>Hello @loggedInMember.Name</h3>
	}

	<form onsubmit="login(event)">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Submit</button>
	</form>
	<button onclick="testLogin()">Check login</button>
</section>



<script>
	async function login(e) {
		console.log(e)
		e.preventDefault();
		const email = document.querySelector('input[name="email"]').value;
		const password = document.querySelector('input[name="password"]').value;

		const res2 = await axios.post('/umbraco/api/LoginApi/Login', { email, password })
		console.log(res2.data)

	}

	async function testLogin() {
		const res = await axios.get('/umbraco/api/LoginApi/CheckedLoggedInMember');
		console.log(res.data)
	}

</script>